.mob-menu-container{
    outline: 2px solid tomato;
    width: 480px;
    height: 100%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
   margin: 0 auto;
    
}